.tree_dropdown a
{
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 6px 12px;
	border-radius: 4px;
	outline: none;
	display: inline-block;
	width: 30%;
	position: relative;
}

.tree_dropdown .dropdown-menu
{
	left: 15px;
	top: 95%;
	border-radius: 0;
	width: 29%;
	max-height: 150px;
	overflow: auto;
}

.tree_dropdown
{
	position: relative;
}

.tree_dropdown_options
{
	background-color: #fff;
	border: 1px solid #ccc;
	width: 29%;
	height: 150px;
	overflow: auto;
	position: absolute;
	z-index: 10;
	display: none;
	top: 34px;
}

	.tree_dropdown_options li
	{
		cursor: default;
		background-color: #fff;
		color: #333;
		padding: 0px 10px;
	}

		.tree_dropdown_options li span:hover
		{
			background-color: #1e90ff;
			color: #fff;
		}

.tree
{
	background-color: #fff;
}

	.tree ul
	{
		margin-left: 40px;
	}

	.tree li
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

		.tree li::before, .tree li::after
		{
			content: '';
			left: -20px;
			position: absolute;
			right: auto;
		}

		.tree li::before
		{
			border-left: 1px solid #999;
			bottom: 50px;
			height: 100%;
			top: 0;
			width: 1px;
		}

		.tree li::after
		{
			border-top: 1px solid #999;
			height: 20px;
			top: 13px;
			width: 24px;
		}

		.tree li span
		{
			display: block;
			padding: 3px 8px;
			text-decoration: none;
		}

		.tree li.parent_li > span
		{
			cursor: pointer;
		}

	.tree > ul > li::before, .tree > ul > li::after
	{
		border: 0;
	}

	.tree li:last-child::before
	{
		height: 25px;
	}
