

/* industry_banner */

.industry_banner {
    /* padding: 20px 0; */
    margin-top: 85px;
    height: 500px;
    position: relative;
}

    .industry_banner img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .industry_banner .windeurope {
        z-index: 15;
        width: 200px;
        height: 200px;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
    }

    .industry_banner .banner_data h1 {
        font-size: 4vh;
        margin-top: 5px;
    }

    .industry_banner .banner_title span {
        display: block;
        font-size: 16px;
        color: #0265b3;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .industry_banner .banner_data p {
        margin-top: 10px;
        color: #000;
        font-size: 15px;
        text-align: justify;
    }

@media screen and (max-width: 1024px) {
    .industry_banner .banner_data {
        top: 15%;
    }
}

@media screen and (max-width: 992px) {
    .industry_banner .banner_data {
        top: 0%;
    }
}


.intro_sec {
    background-color: #f6f9fc;
    padding: 30px 0;
    color: #424242;
    text-align: center;
    margin-bottom: 40px;
}

/* .industbanner_img{border-radius:100%;}
	
	.industry_banner .banner_title {
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 5px;
		color: #000;
	}
	
	 */

/* industry_Features */
.indust_feat_wrp {
    position: relative;
}

    /* .indust_feat_wrp .bg_circle_top {
		top: -3%;
		right: 25%;
		width: 11%;
	}
	
	.indust_feat_wrp .bg_lt {
		top: 50%;
		right: -6%;
		width: 39%;
	}
	
	.indust_feat_wrp .bg_rt {
		top: 20%;
		left: -18%;
		width: 30%;
	} */

    .indust_feat_wrp .row,
    .indust_feat_wrp .row .col-md-6 {
        display: flex;
    }

    .indust_feat_wrp a {
        display: block;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 5px 2px rgba(87,87,87,.3);
        -moz-box-shadow: 0 0 5px 2px rgba(87,87,87,.3);
        box-shadow: 0 0 5px 2px rgba(87,87,87,.3);
    }


    .indust_feat_wrp .features_wrp {
        position: relative;
        color: #000;
        padding: 5%;
    }

.features_wrp .icon {
    display: block;
    height: 60px;
}

.features_wrp .super_head {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    margin: 15px 0;
    text-transform: uppercase;
}

/* .indust_feat_wrp .features_wrp .filled_circle{
		width: 15px;
		height: 15px;
		background: #fff;
		display: block;
		border-radius: 50%;
		position: absolute;
		right: 5%;
		top: 5%;
	} */

.features_wrp .benefits {
    margin-top: 15px;
}

.benefits li {
    margin-left: 15px;
    list-style: disc;
    margin-bottom: 5px;
}

@media screen and (max-width:769px) {
    .indust_feat_wrp .row {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .industry_banner {
        height: auto;
    }
}
