@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #333333;
    padding-right: 0 !important;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ======================= custom scrollbsr design (enscroll) ======================= */

.vertical-track2,
.horizontal-track2 {
    width: 8px;
    background: #e0dfdf;
}

.vertical-handle2,
.horizontal-handle2 {
    width: 8px;
}

    .vertical-handle2 .top,
    .horizontal-handle2 .top {
        width: 8px;
        height: 8px;
    }

    .vertical-handle2 .bottom,
    .horizontal-handle2 .bottom {
        width: 8px;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: #01a2a6;
        border-radius: 10px;
    }


/*---------------------- resets ---------------------- */

.no_padding {
    padding: 0;
}

.def_padding {
    padding-left: 10px;
    padding-right: 10px;
}


.flexbox_center {
    display: flex;
    align-items: center;
}

/* ---------- Above Header sec ---------- */
.above_header {
    background: #333333;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.head_social {
    text-align: right;
}

    .head_social a {
        margin-left: 15px;
        color: #fff;
    }



/* ---------- Header ---------- */

header {
    padding: 10px 0;
    position: fixed;
    top: 54px;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 2px 4px #ccc;
}

#wrapper {
    margin-top: 130px;
}

.navbar-collapse {
    float: right;
    margin-top: 10px;
}

.navbar-nav > li > a {
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background: none;
    }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #337ab7;
}

.login_btn,
.login_btn:hover,
.login_btn:focus {
    color: #fff!important;
    padding: 10px 15px;
    background: #0265b3!important;
    border-radius: 30px;
    display: inline-block;
}

/* ---------- Banner ---------- */

/*.banner{
		background: url(../images/baner_1.jpg) no-repeat;
		height:550px;
		background-size: cover;
		color: #fff;
		padding: 8%;
	}*/

.sec_slider .carousel-indicators {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 15;
    width: 15px;
    margin-left: 0;
    list-style: none;
    text-align: right;
    left: calc(100% - 40px);
    bottom: auto;
}

    .sec_slider .carousel-indicators li {
        display: block;
        width: 10px;
        height: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        border: 0px;
    }

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    background-color: #0265b3!important;
}

.banner_data .row div {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 5px;
}

.banner_data {
    position: absolute;
    top: 24%;
    z-index: 15;
    width: 100%;
    margin-left: 0;
    list-style: none;
    left: 0;
    color: #000;
}

    .banner_data h1 {
        font-size: 5vh;
        margin-top: 5px;
    }

    .banner_data p {
        margin-top: 15px;
        color: #000;
        font-size: 18px;
    }


.demo_btn,
.demo_btn:hover,
.demo_btn:focus {
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #0265b3;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}


/* ---------- Our principles ---------- */

.sec_wrp {
    text-align: center;
    margin: 30px 0;
    margin: 30px 0 50px 0;
}

.head_border {
    width: 6%;
    height: 5px;
    background: #0265b3;
    display: inline-block;
    border-radius: 14px;
}

.head_subborder {
    width: 2%;
    height: 5px;
    background: #0265b3;
    display: inline-block;
    border-radius: 14px;
}

.sec_title {
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

    .sec_title span {
        display: block;
        font-size: 16px;
        color: #0265b3;
        margin-bottom: 10px;
    }

.principles_sec {
    margin: 3% 0;
}

.cat_wrapper {
    text-align: center;
    background: #fff;
    padding: 30px 15px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    -moz-box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    color: #a0a0a0;
    margin-bottom: 20px;
}

.cat_title {
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #333;
}

    .cat_title span {
        display: block;
        font-size: 14px;
        color: #a0a0a0;
        margin-bottom: 10px;
    }


/* why choose us sec */

.why_choose_sec {
    margin: 3% 0;
    color: #a0a0a0;
}

.aside_title_wrp {
    margin: 30px 0;
}

.aside_title {
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

    .aside_title span {
        display: block;
        font-size: 16px;
        color: #0265b3;
        margin-bottom: 10px;
    }


/* About us sec */
.about_sec {
    text-align: right;
    color: #a0a0a0;
}

    .about_sec .list {
        margin-top: 30px;
    }

    .about_sec li {
        background: url(../images/website/tick.png) top right no-repeat;
        margin: 0;
        list-style: none;
        margin-bottom: 25px;
        padding-right: 50px;
        line-height: 25px;
    }

/* services sec */

.services_sec {
    margin: 3% 0;
}

.service_wrapper {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    -moz-box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
    min-height: 165px;
    margin-bottom: 10%;
    color: #a0a0a0;
    position: relative;
    min-height: 200px;
}

    .service_wrapper .more_btn {
        width: 30px;
        height: 30px;
        background: #e2e2e2;
        color: #000;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        position: absolute;
        right: 15px;
    }

.service_title {
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333;
}

/* modal css */
.modal-header {
    padding: 15px;
}

.service_modal .modal-title {
    font-weight: 700;
}

    .service_modal .modal-title img {
        margin-right: 10px;
    }

.close img {
    width: 20px;
}

/* counter sec */

.counter_sec {
    background: url(../images/website/count_bg.png) no-repeat;
    background-position: center center;
    height: 200px;
}

/* team sec */

.team_sec {
    margin: 3% 0;
}

.request_demo_section {
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 2px rgba(87,87,87,0.3);
}

.form_text {
    width: 99%;
    background: #f6f9fc;
    border: 1px solid #e1e1e1;
    padding: 9px 10px;
    margin: 12px 0;
}

.form_submit_btn {
    padding: 10px 30px;
    width: auto;
}

.form_submit_btn {
    background: #0265b3;
    border: 1px solid #0265b3;
    padding: 10px 40px;
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
}

.col_subtitle {
    line-height: normal;
}

.profile_img {
    width: 80px !important;
    height: 80px;
    border-radius: 50%;
}

.sales_team {
    margin: 5% 0;
}

    .sales_team h5 {
        font-size: 18px;
        font-weight: 600;
    }


/* cookies sec */
.modal_head {
    font-size: 21px;
}

.modal_subtitle {
    font-size: 21px;
}

input[type=checkbox].css_checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=checkbox].css_checkbox + .chkbox_label {
        padding-left: 25px;
        height: 17px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
    }

    input[type=checkbox].css_checkbox:checked + .chkbox_label {
        background-position: 0 -17px;
    }

.chkbox_label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chkbox_label {
    background-image: url('../images/website/css_chbox.png');
}

.cookies_list {
    margin-bottom: 25px;
}

    .cookies_list li {
        vertical-align: middle;
        display: inline-block;
        margin-right: 20px;
    }

.btn_confirm_cookie {
    color: #0265b3;
    border: 1px solid #0265b3;
    padding: 8px 20px;
    border-radius: 5px;
    outline: 0;
    margin-left: 10px;
    background: transparent;
}

.btn_allow_cookie {
    background: #0265b3;
    color: #fff;
    border: 1px solid #0265b3;
    padding: 8px 20px;
    border-radius: 5px;
    outline: 0;
    margin-left: 10px;
}

.fixcss_checkbox {
    background-image: url('../images/website/css_chbox.png');
    background-position: 0 -17px;
    height: 17px;
    width: 18px;
    display: inline-block;
    padding-left: 25px;
    background-repeat: no-repeat;
}

/* client_sec */

.client_sec {
    margin: 3% 0;
}

.client_bg {
    border-radius: 5px;
}

.client_list li {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-bottom: 25px;
}

    .client_list li img {
        max-width: 85%;
    }

.vcenter {
    display: flex;
    align-items: center;
}

/* footer sec */

footer {
    background: #333333;
    padding: 5% 0;
    color: #fff;
    margin-top: 6%;
}

    footer h4 {
        margin-top: 0;
        font-size: 23px;
        font-weight: 700;
    }

    footer address {
        line-height: 30px;
        margin-top: 35px;
    }

    footer a,
    footer a:hover,
    footer a:focus {
        color: #a2a2a2;
    }

    footer p {
        line-height: 35px;
    }

.social_icons .fa {
    font-size: 30px;
    margin-right: 5%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.copyright {
    margin-top: 20px;
}

/* ------------- media queries ------------------------------ */

@media screen and (max-width:769px) {
}

@media screen and (max-width:768px) {

    .navbar-collapse {
        float: none;
    }

    .flexbox_center {
        display: block;
    }

    .about_sec {
        text-align: left;
    }

        .about_sec li {
            background: url(../images/website/tick.png) top left no-repeat;
            margin: 0;
            list-style: none;
            margin-bottom: 25px;
            padding-right: 0px;
            padding-left: 50px;
        }
}

@media screen and (max-width:640px) {
    .slide_text {
        top: 20%;
    }
}

@media screen and (max-width:480px) {
}
